<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ticketbooking">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".TicketBookingApp"
        android:allowBackup="true"
        android:theme="@android:style/Theme.DeviceDefault.NoActionBar"
        android:networkSecurityConfig="@xml/network_security_config"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name="com.razorpay.SmsRetrieverReceiver"
            android:exported="true"
            android:permission="com.google.android.gms.auth.api.phone.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.gms.auth.api.phone.SMS_RETRIEVED" />
            </intent-filter>
        </receiver>

    </application>

</manifest>